<div class="text-right bg-dark text-light py-2 d-flex justify-content-space-around align-items-start container-fluid contact-info py-3">
    <div class="container d-flex flex-wrap justify-content-space-around align-items-start">
        <p class="text-secondary info">Have any questions?</p>
        <div class="d-flex ps-3 phone">
            <i class="fa fa-phone ps-1 pt-1 pe-2 text-secondary"></i>
            <p class="text-secondary">
                <a href=''> +254 791298382 </a>
            </p>
        </div>
        <div class="d-flex ps-3 mail">
            <i class="fa fa-envelope ps-1 pt-1 pe-2 text-secondary"></i>
            <p class="text-secondary"><a href="mailto:scriptscanvas&#64;gmail.com">scriptscanvas&#64;gmail.com</a></p>
        </div>
    </div>
</div>
