<div class="container mx-auto px-6 py-12 my-4">
    <h2 class="text-3xl font-bold text-center mb-2 mt-4">From Ideas to Impact – We Make It Happen!</h2>
    <p class="text-center text-gray-600 mb-4">
      We provide innovative solutions for web, mobile, and enterprise software.
    </p>
  
    <div class="d-flex flex-wrap justify-center col-12">
      <div
        *ngFor="let service of services"
        class="servcies-section-wrapper col-lg-4 col-md-6 col-sm-12 mb-4"
      >
        <div class="flex items-center space-x-4 services-box col-12 justify-center">
          <span class="text-3xl">{{ service.icon }}</span>
          <h3 class="text-xl font-semibold">{{ service.title }}</h3>
          <p class="text-gray-700 mt-2">{{ service.description }}</p>
        </div>
        <!-- <p class="text-gray-700 mt-2">{{ service.description }}</p> -->
      </div>
    </div>
  </div>
  