<section id="price" class="price-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-9 title">
                <!--  <h2>
                    <span class="d-block mb-3">Price</span> All in one place LEYSCO XORA HR
                    system
                </h2>
                <p class="m-0">
                    Use these awesome forms to login or create new account in your
                    project for free.
                </p>  -->

                <h1 class="dashboard-head">Our Pricing Packages</h1>
                <span class="flex-row span-blue my-3">
                    <span class="blue-short"></span>
                    <span class="blue-long"></span>
                </span>
                <p class="p-header">Choose the best plan for your team.<p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card price-card price-1 wow animate__fadeInUp" data-wow-delay="0.2s" style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInUp;
          ">
                    <div class="card-body">
                        <span class="price-badge bg-primary">Gold</span>
                         <span class="mb-4 f-w-600 p-price">KES 7500<small class="text-sm">/month</small></span> 
                         <p class="mb-0">
                            You have Free Unlimited Updates and <br />
                            Premium Support on each package.
                        </p> 
                        <ul class="list-unstyled my-5">
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Hr Admin
                            </li>

                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Employee Web Portal
                            </li>
                            
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Events
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Meetings
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Asset Management
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Document Management
                            </li>
                        </ul>

                          
                        <div class="d-grid text-center">
                            <a  href="#" data-ajax-popup="true"
                            data-title="Gold Plan'" data-bs-toggle="tooltip" title=""
                                class="btn mb-3 btn-primary d-flex justify-content-center align-items-center mx-sm-5">
                                Start with Standard plan
                                <i class="ti ti-chevron-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="card price-card price-2 bg-primary wow animate__fadeInUp" data-wow-delay="0.4s" style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInUp;
            ">
                    <div class="card-body">
                         <span class="price-badge">Silver</span>
                         <span class="mb-4 f-w-600 p-price">KES 10500<small class="text-sm">/month</small></span>
                        <p class="mb-0">
                            You have Free Unlimited Updates and <br />
                            Premium Support on each package.
                        </p>  
                        <ul class="list-unstyled my-5">
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Hr Admin
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Payroll
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Leave Management
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Performance
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-danger ti ti-circle-minus"></i></span>
                                Time and Attendance
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Employee Web Portal
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Training
                            </li>
                            
                        </ul>

                        <div class="d-grid text-center">
                            <button
                                class="btn mb-3 btn-light d-flex justify-content-center align-items-center mx-sm-5">
                                Start with Standard plan
                                <i class="ti ti-chevron-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card price-card price-3 wow animate__fadeInUp" data-wow-delay="0.6s" style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInUp;
          ">
                    <div class="card-body">
                        <span class="price-badge bg-primary">Bronze</span>
                         <span class="mb-4 f-w-600 p-price">KES 20000<small class="text-sm">/month</small></span>
                        <p class="mb-0">
                            You have Free Unlimited Updates and <br />
                            Premium Support on each package.
                        </p> 
                        <ul class="list-unstyled my-5">
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Hr Admin
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Payroll
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-primary ti ti-circle-plus"></i></span>
                                Leave Management
                            </li>
                            <li>
                                <span class="theme-avtar">
                                    <i class="text-danger ti ti-circle-minus"></i></span>
                                Performance
                            </li>
                            
                        </ul>
                        <div class="d-grid text-center">
                            <button
                                class="btn mb-3 btn-primary d-flex justify-content-center align-items-center mx-sm-5">
                                Start with Standard plan
                                <i class="ti ti-chevron-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>